@charset "UTF-8";
/* CSS Document */
/*------------------
 1- Global
 2- Ids
 -------------------*/
 /*___________________

    Global
  ___________________*/

.hidden{
	display: none;
}

p {
	text-align: center;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 4em;
	font-weight: normal;
}

#Con {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5em;
  overflow: hidden;
}

/*------------------------
- Ids
------------------------*/
.head{
	background-color:#181D57;
	height: 142px;
}

.logo {

	float: left;
}
.logo p {
	background: white;
	margin-top: 16px;
	margin-left: 150px;
	padding: 40px 140px;
}
.nav {
	background-color:#181D57;
	height: 142px;
	display: flex;
	float: right;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-right: 150px;
	margin-bottom: 12px;
}

.nav li ,.navf li {
	display: inline-flex;
	align-content: space-between;
}

.nav ul li a {
	margin-left: 150px;
	font-size: 30px;
	color: #E8DED1;
	text-decoration: none;
}

.nav li a:hover, .navf li a:hover {
	 background:#E8DED1;
	 color:#181D57;
	 -webkit-transition: background-color 500ms linear;
	 -ms-transition: background-color 500ms linear;
	 transition: background-color 500ms linear;

}
.nav li a.active, .navf li a.active {
	 background:#E8DED1;
	 color:#181D57;
	 padding: 12px;
}


#wel-d {
  background-color: #E8DED1;
  text-align: center;
	font-size: 50px;
	padding: 55px;
	color: #181D57;
  margin-top: 1em;

}
#images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-content: center;
}

.img-i {
  border: 10px solid #181D57;
  border-radius: 25px;
  width: 760px;
  height: 780px;
  object-fit: cover;
  overflow: hidden;

}
.img-m {
  border: 10px solid #181D57;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.text-m {
  background-color: #181D57;
  text-align: center;
	font-size: 40px;
	padding: 60px;
	color: #E8DED1;
  letter-spacing: 2px;
  line-height: 60px;
}
.text-i {
  background-color: #E8DED1;
  text-align: center;
	font-size: 40px;
	padding: 65px;
	color: #181D57;
  letter-spacing: 2px;
  line-height: 60px;
